<footer class="site-footer">

  <div class="wrapper">


    <h2 class="footer-heading"><span display:none> Alex Nackenoff | </span><span display:none>Neuropharmacologist at Vanderbilt</span></h2>
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">


        <ul class="contact-list">

          <li><a href="mailto:{{ site.email3 }}">{{ site.email3 }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a> | <a title=" {{ site.fingerprint }}" href="/2017/05/10/public_key.html">Public Key</a> </li>
          <li><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html %} | {% include icon-pubmed.html %}
          </li>
          {% endif %}

          <!--{% if site.pubmed_username %}
          <li>
            {% include icon-pubmed.html %}
          </li>
          {% endif %}-->
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
