<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.conversejs.org/dist/converse.min.css"/>

<script charset="utf-8" src="https://cdn.conversejs.org/dist/converse.min.js"></script>
<title>Prosody IM and Converse.js</title>

</head>
<body>

<noscript>
<h1>Converse.js</h1>
<p>I&apos;m sorry, but this XMPP client application won&apos;t work without JavaScript.</p>
<p>Perhaps you would like to try one of these clients:</p>
<dl>
<dt>Desktop</dt>
<dd><ul>
<li><a href="https://gajim.org/">Gajim</a></li>
<li><a href="https://poez.io/">Poezio</a></li>
<li><a href="https://swift.im/">Swift</a></li>
</ul></dd>
<dt>Mobile</dt>
<dd><ul>
<li><a href="https://github.com/siacs/Conversations">Conversations</a></li>
<li><a href="https://yaxim.org/">Yaxim</a></li>
</ul></dd>
</dl>
<p><a href="https://xmpp.org/software/clients.html">More clients...</a></p>
</noscript>
<script>converse.initialize(
	{default_domain:"xmpp.alexnackenoff.com",
	 auto_login: true,
   allow_logout: false,
   allow_contact_requests: false,
	 auto_join_rooms: [
                'test@conference.alexnackenoff.com',
            ],
	 authentication: "anonymous",
	 domain_placeholder: "xmpp.alexnackenoff.com",
	 websocket_url: "wss://xmpp.alexnackenoff.com:5281/xmpp-websocket/",
	 allow_registration: false,
   hide_muc_server: true,
	 jid:"xmpp.alexnackenoff.com",
	 bosh_service_url:"https://xmpp.alexnackenoff.com:5281/http-bind/",
	 //discover_connection_methods: true,
   //show_controlbox_by_default: true,
   strict_plugin_dependencies: false,
	 view_mode: "fullscreen"}
);


</script>
</body>
</html>
