<!DOCTYPE html>
<html>

  {% include head.html %}
<head>
<!--
  h1,h2,p{
    margin-left: 40px;

  }-->
</head>

  <body>

    {% include header.html %}

      <h1>
        Education
      </h1>

      <h2>Undergraduate</h2>
      <ul style="list-style: none;">
        <li>Macalester College, St. Paul, MN: &emsp;  | 2005-2009</li>
        <ul style="list-style: none;">
          <li>Major: Psychology, Honors: Thesis Advisor, Eric Wiertelak </li>
		      <li><i>Naltrexone Attenuation of Animal Gambling-Like Behavior</i><li>
        </ul>
		    <li>Research:</li>
        <ul style="list-style: none;">
			       <li>Eric Wiertelak, Neuroscience, Macalester College</li>
			          <li>Novel Animal Models for Chronic Pain</li>
          </ul>
	      <li>University of Pennsylvania, Philadelphia, PA			&emsp;  |  2006, 2007</li>
        <ul style="list-style: none;">
		        <li>Chemistry, Art</li>
          </ul>
        </ul>


  <h2>
Graduate
</h2>
<ul style="list-style: none;">
	<li>Vanderbilt University School of Medicine, Department of Pharmacology		&emsp; |    2009-2016 </li>
    <ul style="list-style: none;">
    <li>Ph.D. Thesis Advisor: Dr. Randy Blakely</li>
    <li>Determining the Role of Serotonin in Antidepressant Action, as Revealed Utilizing the SERT Met172 Mouse Model.  </li>
    <li>Ph.D. conferred May 2016</li>
  </ul>
</ul>


<h1>Professional Experience</h1>
<ul style="list-style: none;">
  <li>Research Assistant Volunteer, Eric Wiertelak laboratory, Macalester College			&emsp; |   2008</li>
    <ul style="list-style: none;">
	      <li>Supervisor: Eric Wiertelak, PhD, Principle Investigator</li>

        <li>Research and development of novel animal models for chronic pain, aiming to establish new pre-clinical standards for the future evaluation of chronic pain directed pharmacotherapies.</li>
      </ul>
	<li>Brewery Intern, Tennessee Brew Works, Nashville TN					&emsp; |	    2015</li>
    <ul style="list-style: none;">
	      <li>Supervisor: Laura Burns, PhD, Head Brewer </li>
        <li>Research, development, and establishment of a practical laboratory for the detection of aerobic and anaerobic beer-spoiling bacteria and dissolved gasses (oxygen ppm and ppb, and carbon dioxide ppm) in wort, beer, and bottled product.</li>
      </ul>
    </ul>

<h1>Honors and Awards</h1>
<ul style="list-style: none;">
  <li>Eagle Scout, Boy Scouts of America; recipient of bronze, gold and silver palms</li>
    <li>Best Abstract/Poster Award, ASPET 2015, Neuropharmacology Division</li>
      <li>Honors graduate, Department of Psychology, studying the effects of naltrexone on gambling-like behavior, using an animal model for gambling</li>
	<li>Member, Psi Chi (National Honor Society in Psychology)</li>
	<li>Participant, Emerging Leaders Program, Macalester College, Spring 2007</li>
	<li>Ruth Stauffer Award for Outstanding Service, Swarthmore Swim Club, 2006</li>
	<li>Dean’s List, Macalester College, Fall 2006, Fall 2008</li>
</ul>

<h1>Publications:</h1>
<ul>
<li>Nackenoff AG, Simmler LD, Baganz NL, Pehrson AL, Sanchez C, Blakely RD. <a href="https://www.ncbi.nlm.nih.gov/pubmed/28272863">Serotonin Transporter-Independent Actions Of The Antidepressant Vortioxetine As Revealed Using The SERT M172 Mouse.</a> <i>ACS Chemical Neuroscience</i> (2017) doi: 10.1021/acschemneuro.7b00038</li>
<li>Simmler LD, Levin MH, Gresch PJ, Nackenoff AG, Wang J, Zhang B, Henry LK, Anacker AMJ, Veenstra-Vanderweele J, & Blakely RD. Contributions of Serotonin Signaling to the Acute Actions of Cocaine as Revealed Through Molecular and Behavioral Studies of SERT Met172 Mice. Submitted</li>
<li>"Nackenoff AG, Moussa-Tooks, AM, McMeekin, AM, Veenstra-VanderWeele J, & Blakely RD. <a href="https://www.ncbi.nlm.nih.gov/pubmed/26514584"> Essential Contributions of Serotonin Transporter Inhibition to the Acute and Chronic Actions of Fluoxetine and Citalopram in the SERT Met172 Mouse.</a> <i>Neuropsychopharmacology</i>. 41(7) (2016) 1733-41 </li>
<li>Hardaway JA, Wang J, Fleming PA, Fleming KA, Whitaker SM, Nackenoff AG, Snarrenberg CL, Hardie SL, Zhang B, Blakely RD. An open-source analytical platform for analysis of C. elegans swimming-induced paralysis. J Neurosci Methods. 232 (2014) 58-62</li>
<li>Prosser RA, Stowie A, Amicarelli M, Nackenoff AG, Blakely RD, Glass JD. Cocaine modulates mammalian circadian clock timing by decreasing serotonin transport in the SCN. Neuroscience. 275 (2014) 184-193</li>
</ul>

<h1>Abstracts/Posters:</h1>
<ul>
<li>Poster to be presented at ECNP 2016 (September): A.G. Nackenoff, L.D. Simmler, N.L. Baganz, A.L. Pehrson, C. Sanchez, R.D. Blakely. “Serotonin Transporter-Independent Actions of the Antidepressant Vortioxetine Revealed by the SERT Met172 Mouse”</li>
<li>Poster presented at ECNP 2015 (August): A.G. Nackenoff, L.D. Simmler, N.L. Baganz, K.C. Paffenroth, G.D. Stanwood, A.L. Pehrson, C. Sanchez, R.D. Blakely. “Acute Antidepressant Actions of Vortioxetine Do Not Require Serotonin Transporter Interactions”</li>
<li>Invited Oral Presentation at ASPET/EB 2015 (March): Elucidating The Molecular Underpinnings Of Behavior Using Pharmacological Knock-In Mouse Models; Serotonin Transporter-Independent Actions Of The Antidepressant Vortioxetine As Revealed Using The SERT M172 Mouse.</li>
<li>*Poster presented at ASPET/EB 2015 (March): A.G. Nackenoff, L.D. Simmler, N.L. Baganz, K.C. Paffenroth, G.D. Stanwood, A.L. Pehrson, C. Sanchez, R.D. Blakely. “Serotonin Transporter-Independent Actions Of The Antidepressant Vortioxetine As Revealed Using The SERT M172 Mouse”. * indicates Award for Best Poster Presentation in ASPET Neuropharmacology Division</li>
<li>Poster presented at ACNP 2014 (December): A.G. Nackenoff, R.D. Blakely. “Is SERT All There Is? Genetic Dissection of the Actions of Acute and Chronic Serotonin Selective Reuptake Inhibitors in the SERT M172 Mouse”</li>
<li>Poster presented at Gairdner Neuroscience Symposium (May 2014, University of Alberta, Canada): A.G. Nackenoff, R.D. Blakely. “Acute Antidepressant Behavioral Efficacy of SSRIs Requires SERT Antagonism”</li>
<li>Poster presented at November 2013 SFN: A.G. Nackenoff, A.B. Moussa-Tooks, R.D. Blakely. “Are the acute and chronic behavioral actions of serotonin selective reuptake inhibitors mediated solely by the serotonin transporter? Studies of drug action with the SERT M172 mouse”.</li>
<li>Presented collaboration poster at 2012 SFN: R.A. Prosser, R.D. Blakely, A.G. Nackenoff, J.D. Glass. “In vitro cocaine fails to phase-shift the mammalian circadian clock of knock-in mice exposing a serotonin transporter lacking high-affinity cocaine recognition.”</li>
</ul>

<h1>Professional Societies/Affiliations</h1>
<ul style="list-style: none;">
  <li>The American Society for Pharmacology and Experimental Therapeutics (ASPET); Graduate Student Member</li>
    <li>Society for Neuroscience</li>
    <li>Middle Tennessee Chapter, Society for Neuroscience</li>
    <li>Psi Chi</li>
</ul>

    {% include footer.html %}

  </body>

</html>
